// >>> Zorro
@white: #fff;
@black: #000;
@sea-salt: #fafafa;
@platinum: #dedede;
@dim-grey: #737373;
@davy-grey: #4d4d4d;

// >>> Signature ONE
@tiffany-blue: #18b8b1;
@maastricht-blue: #002837;
@anti-flash-white: #ebf0f3;
@bright-yellow: #fa9a1c;
@sunset-orange: #e95a59;
@teal: #007f82;
@forest-green: #1e8e3e;

// >>> Variations
// 90% variations
@tiffany-blue-90: mix(@tiffany-blue, #fff, 90%);
@maastricht-blue-90: mix(@maastricht-blue, #fff, 90%);
@anti-flash-white-90: mix(@anti-flash-white, #fff, 90%);
@bright-yellow-90: mix(@bright-yellow, #fff, 90%);
@sunset-orange-90: mix(@sunset-orange, #fff, 90%);
@teal-90: mix(@teal, #fff, 90%);
@forest-green-90: mix(@forest-green, #fff, 90%);

// 80% variations
@tiffany-blue-80: mix(@tiffany-blue, #fff, 80%);
@maastricht-blue-80: mix(@maastricht-blue, #fff, 80%);
@anti-flash-white-80: mix(@anti-flash-white, #fff, 80%);
@bright-yellow-80: mix(@bright-yellow, #fff, 80%);
@sunset-orange-80: mix(@sunset-orange, #fff, 80%);
@teal-80: mix(@teal, #fff, 80%);
@forest-green-80: mix(@forest-green, #fff, 80%);

// 70% variations
@tiffany-blue-70: mix(@tiffany-blue, #fff, 70%);
@maastricht-blue-70: mix(@maastricht-blue, #fff, 70%);
@anti-flash-white-70: mix(@anti-flash-white, #fff, 70%);
@bright-yellow-70: mix(@bright-yellow, #fff, 70%);
@sunset-orange-70: mix(@sunset-orange, #fff, 70%);
@teal-70: mix(@teal, #fff, 70%);
@forest-green-70: mix(@forest-green, #fff, 70%);

// 60% variations
@tiffany-blue-60: mix(@tiffany-blue, #fff, 60%);
@maastricht-blue-60: mix(@maastricht-blue, #fff, 60%);
@anti-flash-white-60: mix(@anti-flash-white, #fff, 60%);
@bright-yellow-60: mix(@bright-yellow, #fff, 60%);
@sunset-orange-60: mix(@sunset-orange, #fff, 60%);
@teal-60: mix(@teal, #fff, 60%);
@forest-green-60: mix(@forest-green, #fff, 60%);

// 50% variations
@tiffany-blue-50: mix(@tiffany-blue, #fff, 50%);
@maastricht-blue-50: mix(@maastricht-blue, #fff, 50%);
@anti-flash-white-50: mix(@anti-flash-white, #fff, 50%);
@bright-yellow-50: mix(@bright-yellow, #fff, 50%);
@sunset-orange-50: mix(@sunset-orange, #fff, 50%);
@teal-50: mix(@teal, #fff, 50%);
@forest-green-50: mix(@forest-green, #fff, 50%);

// 40% variations
@tiffany-blue-40: mix(@tiffany-blue, #fff, 40%);
@maastricht-blue-40: mix(@maastricht-blue, #fff, 40%);
@anti-flash-white-40: mix(@anti-flash-white, #fff, 40%);
@bright-yellow-40: mix(@bright-yellow, #fff, 40%);
@sunset-orange-40: mix(@sunset-orange, #fff, 40%);
@teal-40: mix(@teal, #fff, 40%);
@forest-green-40: mix(@forest-green, #fff, 40%);

// 30% variations
@tiffany-blue-30: mix(@tiffany-blue, #fff, 30%);
@maastricht-blue-30: mix(@maastricht-blue, #fff, 30%);
@anti-flash-white-30: mix(@anti-flash-white, #fff, 30%);
@bright-yellow-30: mix(@bright-yellow, #fff, 30%);
@sunset-orange-30: mix(@sunset-orange, #fff, 30%);
@teal-30: mix(@teal, #fff, 30%);
@forest-green-30: mix(@forest-green, #fff, 30%);

// 20% variations
@tiffany-blue-20: mix(@tiffany-blue, #fff, 20%);
@maastricht-blue-20: mix(@maastricht-blue, #fff, 20%);
@anti-flash-white-20: mix(@anti-flash-white, #fff, 20%);
@bright-yellow-20: mix(@bright-yellow, #fff, 20%);
@sunset-orange-20: mix(@sunset-orange, #fff, 20%);
@teal-20: mix(@teal, #fff, 20%);
@forest-green-20: mix(@forest-green, #fff, 20%);

// 10% variations
@tiffany-blue-10: mix(@tiffany-blue, #fff, 10%);
@maastricht-blue-10: mix(@maastricht-blue, #fff, 10%);
@anti-flash-white-10: mix(@anti-flash-white, #fff, 10%);
@bright-yellow-10: mix(@bright-yellow, #fff, 10%);
@sunset-orange-10: mix(@sunset-orange, #fff, 10%);
@teal-10: mix(@teal, #fff, 10%);
@forest-green-10: mix(@forest-green, #fff, 10%);

// >>> Gradients
@tiffany-blue-gradient: #007f82;
@maastricht-blue-gradient: mix(@maastricht-blue, #fff, 60%);
@anti-flash-white-gradient: #fff;
@bright-yellow-gradient: #e18305;
@sunset-orange-gradient: #e01e1e;
@teal-gradient: #004e50;
