<div [class]="getContainerClass()">
    <ng-container *ngIf="isMenuOpen; else menuClosed">
        <div class="ck-backoffice-mobile-bar-menu">
            <fa-icon class="ck-backoffice-mobile-bar-navigation-menu-close-icon" [icon]="closeIcon" (click)="isMenuOpen = false"></fa-icon>
            <div class="ck-backoffice-mobile-bar-navigation-items">
                <ng-container *ngFor="let section of navigationItems()">
                    <div class="ck-backoffice-mobile-bar-navigation-section" *ngIf="section.bottom === false; else bottom">
                        <span *ngIf="section.sectionHeadline.length > 0" class="ck-backoffice-mobile-bar-navigation-head-label">{{ section.sectionHeadline }}</span>
                        <div class="ck-backoffice-mobile-bar-navigation-item" *ngFor="let item of section.items">
                            <ng-container *ngIf="item.routerLink; else simple">
                                <fa-icon *ngIf="item.icon" class="ck-backoffice-mobile-bar-navigation-icon" [icon]="item.icon"></fa-icon>
                                <span [routerLink]="item.routerLink">{{ item.label }}</span>
                            </ng-container>
                            <ng-template #simple>
                                <fa-icon *ngIf="item.icon" class="ck-backoffice-mobile-bar-navigation-icon" [icon]="item.icon"></fa-icon>
                                <span>{{ item.label }}</span>
                            </ng-template>
                        </div>
                    </div>
                    <ng-template #bottom>
                        <div class="ck-backoffice-mobile-bar-navigation-section bottom">
                            <span *ngIf="section.sectionHeadline.length > 0" class="head-label">{{ section.sectionHeadline }}</span>
                            <div class="ck-backoffice-mobile-bar-navigation-item" *ngFor="let item of section.items">
                                <ng-container *ngIf="item.routerLink; else simple">
                                    <fa-icon *ngIf="item.icon" class="ck-backoffice-mobile-bar-navigation-icon" [icon]="item.icon"></fa-icon>
                                    <span [routerLink]="item.routerLink">{{ item.label }}</span>
                                </ng-container>
                                <ng-template #simple>
                                    <fa-icon *ngIf="item.icon" class="ck-backoffice-mobile-bar-navigation-icon" [icon]="item.icon"></fa-icon>
                                    <span>{{ item.label }}</span>
                                </ng-template>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>
            </div>
        </div>
    </ng-container>
    <ng-template #menuClosed>
        <ng-container *ngIf="!searching; else searchTemplate">
            <div class="left">
                <fa-icon class="ck-backoffice-mobile-bar-icons search" [icon]="searchIcon" (click)="searching = true"></fa-icon>
                <div class="mobile-bar-dropdown">
                    <ng-container *ngIf="selectedWCS">
                        <ng-container *ngIf="allWCS() && allWCS()!.length > 0; else wcsLabel">
                            <ng-container *ngIf="isWCSTypeArray(); else stringArray">
                                <nz-select class="top-bar-select" [(ngModel)]="currentWCS" (ngModelChange)="selectWCS($event)" nzBorderless [nzCustomTemplate]="selectedWCS">
                                    <nz-option *ngFor="let o of asWCSArray()" [nzLabel]="o.wcsName" [nzValue]="asWCSType(o)"></nz-option>
                                </nz-select>
                            </ng-container>
                            <ng-template #stringArray>
                                <nz-select class="top-bar-select" [(ngModel)]="currentWCS" (ngModelChange)="selectWCS($event)" nzBorderless [nzCustomTemplate]="selectedWCS">
                                    <nz-option *ngFor="let o of asStringArray()" [nzLabel]="o" [nzValue]="o"></nz-option>
                                </nz-select>
                            </ng-template>
                            <ng-template #selectedWCS let-selected>
                                <span class="mobile-bar-dropdown-label">{{ selected.nzValue }}</span>
                            </ng-template>
                        </ng-container>
                        <ng-template #wcsLabel>
                            <span class="mobile-bar-dropdown-label">{{ currentWCS }}</span>
                        </ng-template>
                    </ng-container>
                </div>
            </div>
            <div class="right">
                @if (displayNotifIcon()) {
                    <fa-icon class="ck-backoffice-mobile-bar-icons" [icon]="bellIcon" (click)="openNotifications()"></fa-icon>
                }
                <fa-icon class="ck-backoffice-mobile-bar-icons" [icon]="userIcon" (click)="goToProfile()"></fa-icon>
                <fa-icon class="ck-backoffice-mobile-bar-icons" [icon]="barsIcon" (click)="isMenuOpen = true"></fa-icon>
            </div>
        </ng-container>
        <ng-template #searchTemplate>
            <input nz-input nzType="text" class="ck-backoffice-mobile-bar-search-input" [(ngModel)]="searchString" [placeholder]="searchPlaceholder()" />
            <div class="ck-backoffice-mobile-bar-buttons">
                <fa-icon class="ck-backoffice-mobile-bar-searching-icons cancel-search" [icon]="closeIcon" (click)="cancelSearch()"></fa-icon>
                <fa-icon class="ck-backoffice-mobile-bar-searching-icons request-search" [icon]="checkIcon" (click)="requestSearch()"></fa-icon>
            </div>
        </ng-template>
    </ng-template>
</div>
