<div [class]="containerClass()">
    @if (isMenuOpen()) {
        <div class="ck-backoffice-mobile-bar-menu">
            <fa-icon class="ck-backoffice-mobile-bar-navigation-menu-close-icon" [icon]="closeIcon" (click)="isMenuOpen.set(false)"></fa-icon>
            <div class="ck-backoffice-mobile-bar-navigation-items">
                @for (section of navItems(); track section.sectionHeadline) {
                    @if (!section.bottom) {
                        <div class="ck-backoffice-mobile-bar-navigation-section">
                            @if (section.sectionHeadline.length > 0) {
                                <span class="ck-backoffice-mobile-bar-navigation-head-label">{{ section.sectionHeadline }}</span>
                            }
                            @for (item of section.items; track item.label) {
                                <div [class]="item.isActive ? 'ck-backoffice-mobile-bar-navigation-item active' : 'ck-backoffice-mobile-bar-navigation-item'" (click)="navigateItem(item)">
                                    @if (item.icon) {
                                        <fa-icon class="ck-backoffice-mobile-bar-navigation-icon" [icon]="item.icon" />
                                    }
                                    <span>{{ item.label }}</span>
                                </div>
                            }
                        </div>
                    } @else {
                        <div class="ck-backoffice-mobile-bar-navigation-section bottom">
                            @if (section.sectionHeadline.length > 0) {
                                <span class="head-label">{{ section.sectionHeadline }}</span>
                            }
                            @for (item of section.items; track item.label) {
                                <div [class]="item.isActive ? 'ck-backoffice-mobile-bar-navigation-item active' : 'ck-backoffice-mobile-bar-navigation-item'" (click)="navigateItem(item)">
                                    @if (item.icon) {
                                        <fa-icon class="ck-backoffice-mobile-bar-navigation-icon" [icon]="item.icon" />
                                    }
                                    <span>{{ item.label }}</span>
                                </div>
                            }
                        </div>
                    }
                }
            </div>
        </div>
    } @else if (searching()) {
        <input nz-input nzType="text" class="ck-backoffice-mobile-bar-search-input" [ngModel]="searchString()" (ngModelChange)="searchString.set($event)" [placeholder]="searchPlaceholder()" />
        <div class="ck-backoffice-mobile-bar-buttons">
            <fa-icon class="ck-backoffice-mobile-bar-searching-icons cancel-search" [icon]="closeIcon" (click)="cancelSearch()"></fa-icon>
            <fa-icon class="ck-backoffice-mobile-bar-searching-icons request-search" [icon]="checkIcon" (click)="requestSearch()"></fa-icon>
        </div>
    } @else {
        <div class="left">
            <fa-icon class="ck-backoffice-mobile-bar-icons search" [icon]="searchIcon" (click)="searching.set(true)"></fa-icon>
            <div class="mobile-bar-dropdown">
                @if (selectedWCS()) {
                    @if (allWCS() && allWCS()!.length > 0) {
                        @if (isWCSTypeArray(allWCS()!)) {
                            <nz-select class="top-bar-select" [ngModel]="currentWCS()" (ngModelChange)="selectWCS($event)" nzBorderless [nzCustomTemplate]="selectedWCSTpl">
                                @for (o of asWCSArray(); track o.wcsId) {
                                    <nz-option [nzLabel]="o.wcsName" [nzValue]="o"></nz-option>
                                }
                            </nz-select>
                        } @else {
                            <nz-select class="top-bar-select" [ngModel]="currentWCS()" (ngModelChange)="selectWCS($event)" nzBorderless [nzCustomTemplate]="selectedWCSTpl">
                                @for (o of asStringArray(); track o) {
                                    <nz-option [nzLabel]="o" [nzValue]="o"></nz-option>
                                }
                            </nz-select>
                        }
                        <ng-template #selectedWCSTpl let-selected>
                            <span class="mobile-bar-dropdown-label">{{ selected.nzValue }}</span>
                        </ng-template>
                    } @else {
                        <span class="mobile-bar-dropdown-label">{{ currentWCS() }}</span>
                    }
                }
            </div>
        </div>
        <div class="right">
            @if (displayNotifIcon()) {
                <fa-icon class="ck-backoffice-mobile-bar-icons" [icon]="bellIcon" (click)="openNotifications()"></fa-icon>
            }
            <ck-user-info-box />
            <fa-icon class="ck-backoffice-mobile-bar-icons" [icon]="barsIcon" (click)="isMenuOpen.set(true)"></fa-icon>
        </div>
    }
</div>
