.ck-loader {
    width: @ck-loader-width;
    height: @ck-loader-height;
    position: absolute;
    top: 0;
    left: 0;
    z-index: @ck-loader-zindex;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        width: @ck-loader-svg-width;

        @media (max-width: @screen-md-min) {
            width: @ck-loader-svg-midscreen-width;
        }
    }
}
