<div [class]="collapsed() ? 'ck-sidebar-container collapsed' : 'ck-sidebar-container'">
    <div class="ck-sidebar-logo">
        @if (!collapsed()) {
            <img [src]="logoSrc()" (click)="clickLogo()" />
        }
        <fa-icon class="collapse-button" [icon]="barsIcon" (click)="toggleCollapse()"></fa-icon>
    </div>
    <div class="ck-sidebar-navigation-items">
        @if (showGlobalSearchBtn()) {
            <div
                [class]="isCollapsed() ? 'ck-sidebar-search-btn collapsed' : 'ck-sidebar-search-btn'"
                [nz-tooltip]="isCollapsed() ? getSearchTooltip() : ''"
                nzTooltipPlacement="right"
                (click)="openSearchModal()">
                <fa-icon [icon]="searchIcon" class="search"></fa-icon>
                @if (!collapsed()) {
                    <span class="label">{{ 'Button.Search' | translate }}</span>
                }
            </div>
        }
        @for (section of navItems(); track section.sectionHeadline; let idx = $index) {
            @if (collapsed()) {
                <div [class]="section.bottom ? 'ck-sidebar-navigation-section collapsed bottom' : 'ck-sidebar-navigation-section collapsed'">
                    @if (idx > 0) {
                        <nz-divider></nz-divider>
                    }
                    @for (item of section.items; track item.label) {
                        <div
                            [class]="getNavItemClass(item)"
                            [nz-tooltip]="item.label"
                            nzTooltipPlacement="right"
                            (click)="itemClicked($event, item)"
                            (auxclick)="handleAuxClick($event, item)">
                            @if (item.icon) {
                                <fa-icon class="icon" [icon]="item.icon"> </fa-icon>
                            } @else {
                                @if (item.label.length > 0) {
                                    {{ item.label[0] }}
                                }
                            }
                        </div>
                        @if (item.children && item.children.length > 0) {
                            @for (child of item.children; track child) {
                                <div
                                    [class]="getNavItemChildClass(child)"
                                    [nz-tooltip]="child.label"
                                    nzTooltipPlacement="right"
                                    (click)="itemClicked($event, child)"
                                    (auxclick)="handleAuxClick($event, child)">
                                    @if (child.icon) {
                                        <fa-icon class="icon" [icon]="child.icon"> </fa-icon>
                                    } @else {
                                        @if (child.label.length > 0) {
                                            {{ child.label[0] }}
                                        }
                                    }
                                </div>
                            }
                        }
                    }
                </div>
            } @else {
                <div [class]="section.bottom ? 'ck-sidebar-navigation-section bottom' : 'ck-sidebar-navigation-section'">
                    <span class="sidebar-head-label">
                        {{ section.sectionHeadline }}
                    </span>
                    <ul nz-menu nzMode="inline">
                        @for (item of section.items; track item.label) {
                            @if (item.children && item.children.length > 0) {
                                <ul nz-menu nzMode="inline">
                                    <li nz-submenu [nzTitle]="item.label" [(nzOpen)]="menuOpenMap[item.label]" nzTooltipPlacement="right">
                                        <ul class="submenu">
                                            <li nz-menu-item [nzSelected]="item.isActive" (click)="itemClicked($event, item)">
                                                {{ "Vue d'ensemble" | translate }}
                                            </li>
                                            @for (child of item.children; track child) {
                                                <li
                                                    nz-menu-item
                                                    [nzSelected]="child.isActive"
                                                    (click)="itemClicked($event, child)"
                                                    [nz-tooltip]="child.label"
                                                    nzTooltipPlacement="right">
                                                    {{ child.label }}
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                </ul>
                            } @else {
                                <li nz-menu-item [nzSelected]="item.isActive" (click)="itemClicked($event, item)">{{ item.label }}</li>
                            }
                        }
                    </ul>
                </div>
            }
        }
        @if (versionInfos()) {
            @if (!isCollapsed()) {
                <div
                    class="version-infos"
                    nz-tooltip
                    nzTooltipOverlayClassName="version-tooltip"
                    [nzTooltipTitle]="versionRef"
                    [nzTooltipOverlayStyle]="{ wordWrap: 'normal' }">
                    Version : {{ versionInfos()!.version }}
                </div>
            } @else {
                <fa-icon
                    class="version-icon"
                    [icon]="infoIcon"
                    nz-tooltip
                    nzTooltipOverlayClassName="version-icon"
                    [nzTooltipTitle]="versionRef"
                    [nzTooltipOverlayStyle]="{ wordWrap: 'normal' }">
                </fa-icon>
            }
            <ng-template #versionRef>
                Version : {{ versionInfos()!.version }}<br />
                Commit : {{ versionInfos()!.commitSha }}<br />
                Date commit : {{ versionInfos()!.commitDatetime }}<br />
                Date build : {{ versionInfos()!.buildDatetime }}
            </ng-template>
        }
    </div>
</div>
