@if (actions().left.length > 0 || actions().right.length > 0) {
  <div class="ck-action-bar-left-buttons">
    @for (action of actions().left; track action.name) {
      @if (shouldShow(action)) {
        <ng-container *ngTemplateOutlet="actionBtn; context: { $implicit: action }" />
      }
    }
  </div>
  <div class="ck-action-bar-right-buttons">
    @for (action of actions().right; track action.name) {
      @if (shouldShow(action)) {
        <ng-container *ngTemplateOutlet="actionBtn; context: { $implicit: action }" />
      }
    }
  </div>
  <ng-template #actionBtn let-action>
    <button
      nz-button
      [nzType]="action.nzType ?? 'primary'"
      [nzDanger]="action.isDanger"
      (click)="buttonClicked(action)"
      nz-tooltip
      [nzTooltipTitle]="tooltipTemplate"
      [nzTooltipTitleContext]="{ $implicit: action }"
      [class]="getButtonClass(action)"
      [disabled]="isDisabled(action)">
      @if (action.icon) {
        <fa-icon class="button-icon" [icon]="action.icon" />
      }
      <span class="button-span">{{ action.displayName }}</span>
    </button>
  </ng-template>
  <ng-template #tooltipTemplate let-action>
    <span>{{ action.displayName }}</span>
  </ng-template>
}
